{% extends 'website/layout.html' %}
{% load staticfiles %}
{% block content %}
<div class="wrapper style1">
  <div class="inner">

    <!-- Feature 1 -->
      <section class="container box feature1">
        <div class="row">
          <div class="12u">
            <header class="first major">
              <h2>Welcome to Eco-Social Dynamics International</h2>
              <p>USA-based private consultancy company that advises governments, international organizations, and private corporations in the Horn of Africa</p>
            </header>
          </div>
        </div>
        <div class="row">
          <div class="4u 12u(mobile)">
            <section>
              <a href="#" class="image featured"><img src="{% static 'website/img/banner.jpg' %}" alt="" /></a>
              <header class="second icon fa-user">
                <h3>Experts</h3>
                <p>with Local Knowledge</p>
              </header>
            </section>
          </div>
          <div class="4u 12u(mobile)">
            <section>
              <a href="#" class="image featured"><img src="{% static 'website/img/Somalia-idp.jpg' %}" alt="" /></a>
              <header class="second icon fa-cog">
                <h3>Facts-Based</h3>
                <p>We monitor the eco-social challenges</p>
              </header>
            </section>
          </div>
          <div class="4u 12u(mobile)">
            <section>
              <a href="#" class="image featured"><img src="{% static 'website/img/hungry-mob-in-somalia.jpg' %}" alt="" /></a>
              <header class="second icon fa-bar-chart-o">
                <h3>Deep Understanding</h3>
                <p>For the people and their lifestyle</p>
              </header>
            </section>
          </div>
        </div>
        <div class="row">
          <div class="12u">
            <p>
              EcoSocial Dynamics International (ESDI) is a USA-based private consultancy company that advises governments, international organizations, and private corporations in the Horn of Africa (HoA) on how to improve the livelihood of the peoples of the region. Based on hard data, the region has many favorable eco-social systems that can comfortably sustain the population. However, despite its natural endowments, the HoA is one of the most inhospitable regions in the world.
            </p>
            <p>
              The Horn of Africa is a tapestry of ecology and cultures that have traditionally complemented one another. In recent years new faulty lines have appeared in the tapestry—i.e., worsening state-society relations, dwindling resources, tribal wars, terrorism, and mass displacement of peoples. Left unaddressed for so many years, these have severely reduced the habitability of the HoA. Mass migration and internal displacement of peoples are common occurrences.
            </p>
          </div>
        </div>
      </section>

  </div>
</div>
<div class="wrapper style2">
  <div class="inner">

    <!-- Feature 2 -->
      <section class="container box feature2">
        <div class="row">
          <div class="6u 12u(mobile)">
            <section>
              <header class="major">
                <h2>What we do!</h2>
                <p>ESDI monitors and researches on the drivers of eco-social challenges:</p>
              </header>
              <p>
                <ul>
                  <li>Climate Change</li>
                  <li>Weak governance systems</li>
                  <li>Over exploitation of the commons</li>
                  <li>Social strife</li>
                  <li>Recurrent famine</li>
                </ul>
              </p>
              <footer>
                <a href="#" class="button medium icon fa-arrow-circle-right">More about us</a>
              </footer>
            </section>
          </div>
          <div class="6u 12u(mobile)">
            <section>
              <header class="major">
                <h2>How we do!</h2>
                <p>In developing policy framework<br /> we emphasizes on:</p>
              </header>
              <p>
                <ul>
                  <li>Environmental rehabilitation</li>
                  <li>Protection of the fragile ecology</li>
                  <li>Good governance</li>
                  <li>Capacity building</li>
                  <li>Inter-communal dialogue and reconciliation</li>
                </ul>
              </p>
              <footer>
                <a href="#" class="button medium alt icon fa-info-circle">Know more</a>
              </footer>
            </section>
          </div>
        </div>
      </section>

    </div>
</div>
<div class="wrapper style3">
  <div class="inner">
    <div class="container">
      <div class="row">
        <div class="8u 12u(mobile)">

          <!-- Article list -->
            <section class="box article-list">
              <h2 class="icon fa-globe">Regions we focus</h2>

              <!-- Excerpt -->
                <article class="box excerpt">
                  <a href="#" class="image left"><img src="{% static 'website/flags/Flag_of_Somalia.png' %}" alt="" /></a>
                  <div>
                    <header>
                      <h3><a href="#">Somalia</a></h3>
                    </header>
                    <p>is a country located in the Horn of Africa. Its capital city is Mogadishu.</p>
                  </div>
                </article>

              <!-- Excerpt -->
                <article class="box excerpt">
                  <a href="#" class="image left"><img src="{% static 'website/flags/Flag_of_Kenya.png' %}" alt="" /></a>
                  <div>
                    <header>
                      <h3><a href="#">Kenya</a></h3>
                    </header>
                    <p>is a founding member of the East African Community.</p>
                  </div>
                </article>

              <!-- Excerpt -->
                <article class="box excerpt">
                  <a href="#" class="image left"><img src="{% static 'website/flags/Flag_of_Ethiopia.png' %}" alt="" /></a>
                  <div>
                    <header>
                      <h3><a href="#">Ethiopia</a></h3>
                    </header>
                    <p>is a country located in the Horn of Africa. Its capital city is Adis-Ababa</p>
                  </div>
                </article>

            </section>
        </div>
        <div class="4u 12u(mobile)">

          <!-- Spotlight -->
            <section class="box spotlight">
              <h2 class="icon fa-file-text-o">Spotlight</h2>
              <article>
                <a href="#" class="image featured"><img src="{% static 'website/img/banner.jpg' %}" alt=""></a>
                <header>
                  <h3><a href="#">Importance of Horn of Africa</a></h3>
                  <p>Know more about Horn of Africa.</p>
                </header>
                <p>The Horn of Africa is a tapestry of ecology and cultures that have traditionally complemented one another. In recent years new faulty lines have appeared in the tapestry—i.e., worsening state-society relations, dwindling resources, tribal wars, terrorism, and mass displacement of peoples. Left unaddressed for so many years, these have severely reduced the habitability of the HoA. Mass migration and internal displacement of peoples are common occurrences.</p>
                <footer>
                  <a href="#" class="button alt icon fa-file-o">Continue Reading</a>
                </footer>
              </article>
            </section>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
