{% extends 'website/layout.html' %}
{% load staticfiles %}
{% load markdown_deux_tags %}
{% block content %}
<div class="wrapper style1">
  <div class="inner">

    <!-- Feature 1 -->
      <section class="container box feature1">
        <div class="row">
          <div class="12u">
            <header class="first major">
              <h2>{{ESDI.short_description}}</h2>
              <p>{{ESDI.long_description}}</p>
            </header>
          </div>
        </div>
        <div class="row">
          <div class="4u 12u(mobile)">
            <section>
              <a href="#" class="image featured"><img src="{% static 'website/img/banner.jpg' %}" alt="" /></a>
              <header class="second icon fa-user">
                <h3>{{featured1.short_description}}</h3>
                <p>{{featured1.long_description}}</p>
              </header>
            </section>
          </div>
          <div class="4u 12u(mobile)">
            <section>
              <a href="#" class="image featured"><img src="{% static 'website/img/Somalia-idp.jpg' %}" alt="" /></a>
              <header class="second icon fa-cog">
                <h3>{{featured2.short_description}}</h3>
                <p>{{featured2.long_description}}</p>
              </header>
            </section>
          </div>
          <div class="4u 12u(mobile)">
            <section>
              <a href="#" class="image featured"><img src="{% static 'website/img/hungry-mob-in-somalia.jpg' %}" alt="" /></a>
              <header class="second icon fa-bar-chart-o">
                <h3>{{featured3.short_description}}</h3>
                <p>{{featured3.long_description}}</p>
              </header>
            </section>
          </div>
        </div>
        <div class="row">
          <div class="12u">
            {% markdown %}
              {{esdi_detail.long_description}}
            {% endmarkdown %}
          </div>
        </div>
      </section>

  </div>
</div>
<div class="wrapper style2">
  <div class="inner">

    <!-- Feature 2 -->
      <section class="container box feature2">
        <div class="row">
          <div class="6u 12u(mobile)">
            <section>
              <header class="major">
                <h2>{{what.name}}</h2>
                <p>{{what.short_description}}</p>
              </header>
              <p>
                {% markdown %}
                  {{what.long_description}}
                {% endmarkdown %}
              </p>
              <footer>
                <a href="/services/page" class="button medium icon fa-arrow-circle-right">More about us</a>
              </footer>
            </section>
          </div>
          <div class="6u 12u(mobile)">
            <section>
              <header class="major">
                <h2>{{how.name}}</h2>
                <p>{{how.short_description}}</p>
              </header>
              <p>
                {% markdown %}
                  {{how.long_description}}
                {% endmarkdown %}
              </p>
              <footer>
                <a href="/consultants/page" class="button medium alt icon fa-info-circle">Know more</a>
              </footer>
            </section>
          </div>
        </div>
      </section>

    </div>
</div>
<div class="wrapper style3">
  <div class="inner">
    <div class="container">
      <div class="row">
        <div class="8u 12u(mobile)">

          <!-- Article list -->
            <section class="box article-list">
              <h2 class="icon fa-globe">Countries we focus</h2>

              {% for item in Countries %}
              <!-- Excerpt -->
                <article class="box excerpt">
                  <a href="#" class="image left"><img src="/media/{{item.photo}}" alt="" /></a>
                  <div>
                    <header>
                      <h3><a href="#">{{item.name}}</a></h3>
                    </header>
                    <p>{{item.short_description}}</p>
                  </div>
                </article>
              {% endfor %}

            </section>
        </div>
        <div class="4u 12u(mobile)">

          <!-- Spotlight -->
            <section class="box spotlight">
              <h2 class="icon fa-file-text-o">Spotlight</h2>
              <article>
                <a href="#" class="image featured"><img src="{% static 'website/img/banner.jpg' %}" alt=""></a>
                <header>
                  <h3><a href="#">Importance of Horn of Africa</a></h3>
                  <p>Know more about Horn of Africa.</p>
                </header>
                <p>The Horn of Africa is a tapestry of ecology and cultures that have traditionally complemented one another. In recent years new faulty lines have appeared in the tapestry—i.e., worsening state-society relations, dwindling resources, tribal wars, terrorism, and mass displacement of peoples. Left unaddressed for so many years, these have severely reduced the habitability of the HoA. Mass migration and internal displacement of peoples are common occurrences.</p>
                <footer>
                  <a href="#" class="button alt icon fa-file-o">Continue Reading</a>
                </footer>
              </article>
            </section>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
