{% extends 'website/layout.html' %}
{% load staticfiles %}
{% load markdown_deux_tags %}
{% block content %}
<div class="wrapper style2">
		<div class="inner">
			<div class="container">
				<div class="row">
					<div class="4u 12u(mobile)">
						<div id="sidebar">

							<!-- Sidebar -->

								{% if page.name != "Home" %}
                  {% include "website/partials/others-sidebar.html" %}
                {% else %}
                  {% include "website/partials/sidebar.html" %}
                {% endif %}

                {% include "website/partials/regions-sidebar.html" %}


						</div>
					</div>
					<div class="8u 12u(mobile) important(mobile)">
						<div id="content">

							<!-- Content -->

								<article>
									<header class="major">
										<h2>{{page.name}}</h2>
										<p>{{page.title}}</p>
									</header>

                  {% if page.image.image %}
									<span class="image featured"><img src="/media/{{page.image.image}}" alt="{{page.image.description}}" /></span>
                  {% endif %}

                  {% markdown %}
                    {{page.paragraphs}}
                  {% endmarkdown %}

								</article>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper style3">
		<div class="inner">
			<!-- COPY FROM INDEX -->
		</div>
	</div>
{% endblock %}
