{% load staticfiles %}
{% block header %}
<div id="header-wrapper">
	<div class="container">

		<!-- Header -->
			<header id="header">
				<div class="inner">

					<!-- Logo -->
						<h1><a href="/" id="logo">ESDI</a></h1>

					<!-- Nav -->
          <nav id="nav">
            <ul>
              <li{% if page.name == "Home" %} class="current_page_item"{% endif %}><a href="/">Home</a></li>
              <li{% if page.name == "Services" %} class="current_page_item"{% endif %}><a href="/services/page">Services</a></li>
              <li{% if page.name == "Consultants" %} class="current_page_item"{% endif %}><a href="/consultants/page">Consultants</a></li>
              <li{% if page.name == "Clients" %} class="current_page_item"{% endif %}><a href="/clients/page">Clients</a></li>
              <li{% if page.name == "Contacts" %} class="current_page_item"{% endif %}><a href="/contacts/page">Contact us</a></li>
            </ul>
          </nav>

				</div>
			</header>

	</div>
</div>
{% endblock %}
