{% load staticfiles %}
{% block header %}
<div id="header-wrapper">
  <div class="container">

    <!-- Header -->
      <header id="header">
        <div class="inner">

          <!-- Logo -->
            <h1><a href="index.html" id="logo">ESDI</a></h1>

          <!-- Nav -->
            <nav id="nav">
              <ul>
                <li class="current_page_item"><a href="index.html">Home</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="consultants.html">Consultants</a></li>
                <li><a href="#">Clients</a></li>
                <li><a href="#">Contact us</a></li>
              </ul>
            </nav>

        </div>
      </header>

    <!-- Banner -->
      <div id="banner">
        <h2>Eco-Social Dynamics International</h2>
        <p>ESDI: CONSULTANCY WITH LOCAL KNOWLEDGE AND A PASSION FOR A BETTER FUTURE</p>
        <a href="#" class="button big icon fa-check-circle">Know more</a>
      </div>

  </div>
</div>
{% endblock %}
